## generic
*~
*.lock
*.DS_Store
*.swp
*.out

## python
*.py[co]

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox

#Translations
*.mo
*.po

#Mr Developer
.mr.developer.cfg

#XCode
*xcodeproj

#Celery
celery*

#Local conf
sezam/conf.py

#Site media
sezam/site_media/*.jpg
sezam/site_media/attachments/*

#Styles
sz.style.css
sz.print.css