{% extends "base.html" %}
{% block content %}
{% load i18n %}


<div class="container">
  <div class="hero-unit well-white">
      <div class="row">
              <h1>{% trans "404" %}</h1>
              <h3>{% trans "empty space around here" %}</h3>
              <span>&nbsp;</span>
              <p>{% trans "Statistically there are hundreds of thousands of 404 hits every day."%}
              <p>{% trans "This makes it one of the most popular pages in the internet regardless of the web-sites' content, user's sex, age, health or religious views."%}
              <p>{% trans "So, nothing exceptional if you ended up here. Simply go to any of the available links in the menu above or foot bar below, and avoid using your creativity while surfing the internet. Preserve it for the real creative purposes!"%}
              <p>{% trans "If you still think that it's our fault you see this page and not any sensible information, please, contact us info@sezam.com."|urlize %}</p>
              <a class="btn btn-primary btn-large" href="/">{% trans 'Home, sweet home' %} »</a>
      </div>
  </div>
</div>

{% endblock %}
