{% extends "base.html" %}
{% block content %}
{% load i18n %}


<div class="container">
  <div class="hero-unit well-white">
      <div class="row">
              <h1>500</h1>
              <h3>{% trans "now, this is serious!" %}</h3>
              <span>&nbsp;</span>
              <p>... {% trans "and embarrassing: something wrong has passed through the wires. We got the report about it, and there is already a troop of <a href='http://muppet.wikia.com/wiki/Doozers'>doozers</a> sent to solve the problem. Please, come back here in an hour or so, everything will be fine by then."%}
              <a class="btn btn-primary btn-large" href="/">{% trans "Back home, recover from the shock" %} »</a>
      </div>
  </div>
</div>

{% endblock %}
