{% extends "base.html" %}
{% block content %}
{% load i18n %}

<div class="container">
  <!-- Filter panel -->
  <div class="span4">
    <div class="row">
      <div class="well well-fluid well-lightgray">
        <legend>{% trans 'Find the authority' %}</legend>
        {% if search_only %}
          <p>{% trans 'Before going on with the request, you must find the Authority.' %}</p>
        {% endif %}
        <form class="form-inline" action="{% url "search_authority" %}" method="get">
          {{ form.q }} <input class="btn btn-primary" type="submit" name="authority" value="{% trans 'Search' %}">
        </form>
        {% if search_only or query %}
          <p>{% trans "Type the name of the public authority you'd like information from, and press" %} <strong>{% trans 'Search' %}.</strong></p>
          <p>{% trans "You can also use a tree of categories" %}&nbsp;
            <a class="btn btn-mini btn-success" href="{% url "display_authorities" %}">{% trans 'Open the tree' %}</a></p>
        {% endif %}

      </div>
    </div>

    {% if not search_only %}
      {% if not query or query = '' %}
        {% include "includes/authority_tree.html" %}
    <script src="{{ STATIC_URL }}js/sz.call.js"></script> <!-- Sezam calls -->
      {% endif %}
    <div class="row">
      <ul class="nav nav-pills nav-stacked">
        <li><a href="{% url "add_authority" %}?from={{ request.path|urlencode }}">{% trans "Can't find authority?" %}</a></li>
        <li class="disabled"><a href="#">&nbsp;</a></li>
        {% if user.is_authenticated %}
          {% if user.profile.trusted %}
        <li class="disabled"><a href="#">{% trans "List of ALL authorities" %} »</a></li>
        <li>
          <ul class="nav nav-pills">
            <li><a href="{% url "download_authority_list" "pdf" %}">PDF</a></li>
            <li><a href="{% url "download_authority_list" "csv" %}">CSV</a></li>
          </ul>
        </li>
          {% endif %}
        {% endif %}
      </ul>
    </div>
    {% endif %}

  </div>

  <!-- list of authorities -->
  <div class="span7">
    {% include "includes/user_message.html" %}

    {% if not search_only %}
    <div class="content">
      <h2>{% trans 'Public Authorities' %}</h2>
    </div>
    {% include "includes/authority_list.html" %}
      {% if not query or query = '' %}
    <div id="spinner" class="span7"><center><img src="{{ STATIC_URL }}img/spinner.gif"/></center></div>
      {% endif %}
    {% endif %}

  </div>    
</div>

{% endblock %}
