{% extends "base.html" %}

{% block content %}
{% load i18n %}

<div class="container">
    <div class="row span8">
        <a name="about_short"></a>
        <h2>{% trans 'About short' %}</h2>
        <p>{% trans 'About short text' %}</p>
    </div>
</div>

<div class="container">
    <div class="row span8">
        <a name="howitworks"></a>
        <h2>{% trans 'How it works' %}</h2>
        <p>{% trans 'How it works text' %}</p>
    </div>
</div>


<div class="container">
    <div class="row span8">
        <a name="willtheyreply"></a>
        <h2>{% trans 'Will they reply' %}</h2>
        <p>{% trans 'Will they reply text' %}</p>
    </div>
</div>


<div class="container">
    <div class="row span8">
        <a name="whatis"></a>
        <h2>{% trans 'What is public information' %}</h2>
        <p>{% trans 'Public information text' %}</p>
    </div>
</div>

<div class="container">
    <div class="row span8">
        <a name="requesting"></a>
        <h2>{% trans 'Requesting the public information' %}</h2>
        <p>{% trans 'Requesting text' %}</p>
    </div>
</div>


<div class="container">
    <div class="row span8">
        <a name="about"></a>
        <h2>{% trans 'About' %} {{ resource_name }}</h2>
        <p>{% trans 'About text' %}</p>
    </div>
</div>



<div class="container">
    <div class="row span8">
        <a name="contact"></a>
        <h2>{% trans 'Who created ZapytajPanstwo' %}</h2>
        <p>{% trans 'Who created ZapytajPanstwo text' %}</p>
    </div>
</div>



{% endblock %}
