{% extends "base.html" %}

{% block content %}
{% load i18n %}

<div class="container">
  <div class="row span7">
    <span name="about"/>
    <h2>{% trans 'About' %} {{ resource_name }}</h2>
    <p>{% trans 'About text' %}</p>
  </div>
</div>

<div class="container">
    <div class="row span7">
        <span name="whatis"/>
        <h2>{% trans 'What is public information' %}</h2>
        <p>{% trans 'Public information text' %}</p>
    </div>
</div>

<div class="container">
    <div class="row span7">
        <span name="requesting"/>
        <h2>{% trans 'Requesting the public information' %}</h2>
        <p>{% trans 'Requesting text' %}</p>
    </div>
</div>


{% endblock %}
