{% extends "base.html" %}
{% block content %}
{% load i18n %}

<div class="container">
	<div class="row">
		<div id="big_info">
			<div class="info_box i1">
				<span>Znajdź instytucję</span>
				<a href="/authority/">Lista &#187;</a>
			</div>
			<div class="info_box i2">
				<span>Przygotuj treść wniosku</span>
			</div>
			<div class="info_box i3">
				<span>My zajmiemy się resztą</span>
			</div>
			<a href="/authority/find/" class="yellow_button" style="float: right; margin-top: 165px; margin-right: 30px;">Zacznij teraz &#187;</a>		
		</div>
	</div>
	
	<div class="row">
		<div class="span4 graybg">
			<h1>O co możesz zapytać?</h1>
			<p>Tutaj wyciągniemy kilka najciekawszych wniosków, które zostaną złożone przez nasz system. Nie będą to wnioski najnowsze, ani najpopularniejsze - tylko naszym zdaniem najlepiej reprezentujące temat informacji publicznej. 
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sed ante sed ante dignissim tempor. Duis semper blandit nisl hendrerit posuere. Cras ut consequat leo. Proin risus sem, consequat nec elementum non, commodo non odio. Fusce sed dolor dolor, sit amet rutrum arcu
			</p>	
			<a href="/request/" class="orange_button">Przejrzyj wszystkie &#187;</a>
		</div>
		
		<div class="span7 gradientbg">
			<h1>Dlaczego my?</h1>
			<ul class="chevrons">
				<li>Ułatwiamy złożenie wniosku</li>
				<li>Pomagamy w pilnowaniu ustawowych terminów</li>
				<li>Umożliwiamy publiczne monitorowanie odpowiedzi...</li>
			</ul>
			<span class="right big">...i przez to trudniej nas zignorować.</span>
		</div>
	</div>
	<div class="row">
		<div class="span4" id="wnioski">
			<h1>Sprawdź, co się dzieje z Twoimi wnioskami</h1>
{% if user.is_authenticated %}
	<a href="/user/{{user.id}}/" class="orange_button">Przejrzyj wnioski</a>
{% else %}
	<a href="/accounts/login" class="orange_button">{% trans 'Log in' %}</a>
{% endif %}

		</div>
		<div class="span7 gradientbg">
			<h1>Mamy blisko <span class="orange">3000</span> adresów w&nbsp;aktualizowanej na bieżąco bazie.</h1>
			<p class="bold">Jesteśmy przejrzyści. Wszyscy użytkownicy mogą monitorować status odpowiedzi.</p>
		</div>
	</div>
</div>

{% endblock %}
