{% extends "base.html" %}
{% block content %}
{% load i18n %}

<div class="container container-fluid">
  <div class="index-unit">
    <div class="row">
      <div class="span6">
        <h1>{% trans 'Public Information for everyone!' %}</h1>
        <p>{% trans 'The Law on Access to Public Information allows anyone to demand access to public information, public data and public assets held by public bodies, private bodies that exercise public tasks, trade unions and political parties. The requests can be oral or written. The bodies must respond within 14 days.' %}</p>
        <a class="btn btn-primary btn-large" href="/authority/find/">Make request now! &#187;</a>
      </div>
      <div class="span5">
        <img src="{{ STATIC_URL }}img/free_info_logo.jpg">
        <form class="well well-lightgray" action="/search/" method="get">
          {{ form.q }} <input class="btn btn-inverse" type="submit" value="{% trans 'Search over' %} &#187;">
          <h3>{{ data.requests_count }} {% trans 'requests' %} {% trans 'and' %} {{ data.authorities_count }} {% trans 'authorities' %}</h3>
        </form>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="span6">
      {% include 'includes/authority_list_mini.html' %}
    </div>
    <div class="span6">
      {% include 'includes/pia_request_list_mini.html' %}
    </div>
  </div>
</div>

{% endblock %}
