{% extends "base.html" %}
{% block content %}
{% load i18n %}

<div class="container">
	<div class="row">
		<div id="big_info">
			<div class="info_box i1">
				<span>Znajdź instytucję</span>
				<a href="/authority/">Lista &#187;</a>
			</div>
			<div class="info_box i2">
				<span>Przygotuj treść wniosku</span>
			</div>
			<div class="info_box i3">
				<span>My zajmiemy się resztą</span>
			</div>
			<a href="/authority/find/" class="yellow_button" style="float: right; margin-top: 165px; margin-right: 30px;">Zacznij teraz &#187;</a>		
		</div>
	</div>
	
	<div class="row">
		<div class="span4 graybg">
			<h1>O co możesz zapytać?</h1>
			<p>Now I rock a house party at the drop of a hat
				And I beat a body down with an aluminum bat
				A lot of people they be Jonesin' just to hear me rock the mic
				They'll be staring at the radio staying up all night</p>
			<p>So like a pimp, I'm pimpin'
				I got a boat to eat shrimp in
				Nothing wrong with my leg just B-boy limpin'
				Got arrested at the Mardi Gras for jumping on a float
				My man MCA's got a beard like a billy goat</p>
			<a href="#" class="orange_button">Browse all &#187;</a>
		</div>
		
		<div class="span7 gradientbg">
			<h1>Dlaczego my?</h1>
			<ul class="chevrons">
				<li>Ułatwiamy złożenie wniosku</li>
				<li>Pomagamy w pilnowaniu ustawowych terminów</li>
				<li>Umożliwiamy publiczne monitorowanie odpowiedzi...</li>
			</ul>
			<span class="right big">...i przez to trudniej nas zignorować.</span>
		</div>
	</div>
	<div class="row">
		<div class="span4" id="wnioski">
			<h1>Sprawdź, co się dzieje z Twoimi wnioskami</h1>
			<a href="#" class="orange_button">Rany boskie jestem wnioskiem</a>
		</div>
		<div class="span7 gradientbg">
			<h1>Mamy ponad <span class="orange">2500</span> adresów w bazie aktualizowanej na bieżąco.</h1>
			<p class="bold">Jesteśmy przejrzyści. Wszyscy użytkownicy mogą monitorować status odpowiedzi.</p>
		</div>
	</div>
</div>

{% endblock %}
