    <!-- List of authorities -->
    <div id="authority_list" class="row">
      {% for result in results %}
      <div class="well well-small">
        <a href="{% url "display_authorities" %}{{ result.slug }}"><h5>{{ result.name }}</h5></a>
        <p class="small">{{ result.description|default:''|slice:":270"|urlize }}{% if result.description %}{% if result.description|length > 270 %}... <a href="{% url "display_authorities" %}{{ result.slug }}"> » full profile</a>{% endif %}{% endif %}</p>
        <p>{% if result.web_site %}{{ result.web_site|urlize }}{% endif %}</p>
        <p>{{ result.notes|default:'' }}</p>
        <div class="row">
          <div class="span2">
            <p><strong>Address:</strong>
              <br>{{ result.address_street }} {{ result.address_num }}
              <br>{{ result.address_postalcode|slice:":2" }}-{{ result.address_postalcode|slice:"2:5" }} {{ result.address_city }}</br>
            </p>
          </div>
          <div class="span2">
            <p><strong>Telephones:</strong>
              <br>({{ result.tel_code }}) {{ result.tel_number|slice:":3" }} {{ result.tel_number|slice:"3:5" }} {{ result.tel_number|slice:"5:" }} {{ result.tel_internal|default:'' }}
              {% if result.tel1_number %}
              <br>({{ result.tel1_code }}) {{ result.tel1_number|slice:":3" }} {{ result.tel1_number|slice:"3:5" }} {{ result.tel1_number|slice:"5:" }} {{ result.tel1_internal|default:'' }}
              {% endif %}
              {% if result.tel2_number %}
              <br>({{ result.tel2_code }}) {{ result.tel2_number|slice:":3" }} {{ result.tel2_number|slice:"3:5" }} {{ result.tel2_number|slice:"5:" }} {{ result.tel2_internal|default:'' }}
              {% endif %}
            </p>
          </div>
          <div class="span2">
            <p><strong>Fax:</strong>
              <br>({{ result.fax_code }}) {{ result.fax_number|slice:":3" }} {{ result.fax_number|slice:"3:5" }} {{ result.fax_number|slice:"5:" }}
            </p>
          </div>
        </div>
        <div class="row">
          <div class="span2">
            <span class="label">Requests</span> <span class="badge badge-info">{{ '123456789'|random }}</span>
          </div>
          <div class="btn-group pull-right">
            <a class="btn btn-small btn-info" href="#">Authority profile</a>
            <a class="btn btn-small btn-info" href="#">All requests</a>
            <a class="btn btn-small btn-primary" href="#">Make request »</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <!-- spinner -->

    {% load xpaginator %}
    {% xpaginator pageURI total_item current 16 3 True 3 %}
    {% include "includes/pagin" %}
