{% load i18n %}
{% load highlight %}
{% load backendtemplates %}

      <div class="row">
        <div class="container span5">
          <h4><a href="/authority/{{ result.slug }}">{% highlight result.name with query %}</a></h4>
          <p>
          {% if obj_result.report_text %}
            {% with obj_result.report_text|hide_all_emails as result %}
              {% highlight result with query %}
            {% endwith %}
          {% else %}
            {% if result.description %}{{ result.description|default:''|urlize|slice:":200"|hide_all_emails }}...{% endif %}
          {% endif %}
          </p>
          <p><small>
              <span class="label">{% trans 'Official' %}</span> {% highlight result.official_full_name with query %}<br/>
              <span class="label">{% trans 'Address' %}</span> {% highlight result.address_full with query %}<br/>
          </small></p>
        </div>
        <div class="container span2 pull-right">
          <a class="btn btn-small btn-primary" href="/request/{{ result.slug }}/"><i class="icon-envelope icon-white"></i> {% trans 'Make Request' %}</a>
          {% if user.is_authenticated %}
            {% if user.profile.trusted %}
          <input class="action-select" type="checkbox" name="authority_slug" value="{{ result.slug }}" />
            {% endif %}
          {% endif %}

          <small>
            <p></p><p style="padding-left: 20px;">
            {% with result.authority_requests.count as request_count %}
              {% if request_count = 0 %} {% else %} <strong>{% trans 'Requests made' %}:</strong> {{ request_count }}<br/> {% endif %}
            {% endwith %}
            <strong>{% trans 'Created' %}:</strong> {{ result.created }}</p>
          </small>
        </div>
      </div>
      <hr class="narrow soft"/>
