{% load i18n %}
    <div id="authority_list" class="content">
      <div class="row">
        &nbsp;
      </div>
      <div class="row">
        <div class="span7">
        <legend>{% include "includes/pagin_header.html" %}</legend>
        </div>
      </div>
      {% if query %}
        {% for obj_result in page.object_list %}
          {% with obj_result.object as result %}
            {% include "includes/authority_list_unit.html" %}
          {% endwith %}
        {% empty %}
        <p>{% trans 'No results found' %}.</p>
        {% endfor %}
      {% else %}
        {% for result in page.object_list %}
          {% with '' as query %}
            {% include "includes/authority_list_unit.html" %}
          {% endwith %}
        {% endfor %}
      {% endif %}
    </div>

    {% include "includes/pagin.html" %}

    {% if not query or query = '' %}
    <script src="{{ STATIC_URL }}js/sz.authpagin.js"></script>
    {% endif %}
