  {% load i18n %}
    <div class="row well well-lightgray well-shadowed">
        <legend>{{ authority.name }}
            <div class="btn-group pull-right">
                <a class="btn btn-small btn-info" href="#"> {% trans 'Follow this authority' %}</a>
                <a class="btn btn-small btn-primary" href="/request/{{ authority.slug }}/"><i class="icon-envelope icon-white"></i> {% trans 'Send request' %}</a>
            </div>
        </legend>

        {% if authority.official_lastname %}
        <p><strong>{% trans 'Official' %}:</strong> {{ authority.official|default:'' }}  <em>{{ authority.official_name|default:'' }} {{ authority.official_lastname|default:'' }}</em></p>
        {% endif %}

        <p>{% if authority.web_site %}<strong>{% trans 'Web-site' %}:</strong> {{ authority.web_site|urlize }}{% endif %}
        <br/>{% if authority.web_site1 %}<strong>{% trans 'Buletin of public information' %}:</strong> {{ authority.web_site1|urlize }}{% endif %}</p>

        {% if authority.description %}
        <p><small>{{ authority.description|default:''|linebreaks|urlize|slice:":300" }}...</small></p>
        {% endif %}
        {% if authority.notes %}
        <p><small><strong>{% trans 'Notes' %}:</strong> {{ authority.notes|default:'' }}</small></p>
        {% endif %}

        <div class="span2">
            <p><strong>{% trans 'Address' %}:</strong>
              <address><small>
              {{ authority.address_street }} {{ authority.address_num }}
              <br>{{ authority.address_postalcode|slice:":2" }}-{{ authority.address_postalcode|slice:"2:5" }} {{ authority.address_city }}</br>
              </small></address>
            </p>
          </div>
          <div class="span2">
            <p>
              <strong>{% trans 'Telephones' %}:</strong>
              <address><small>
              ({{ authority.tel_code }}) {{ authority.tel_number|slice:":3" }} {{ authority.tel_number|slice:"3:5" }}{{ authority.tel_number|slice:"5:" }} {% if authority.tel_internal %}({% trans 'internal' %} {{ authority.tel_internal }}) {% endif %}

              {% if authority.tel1_number %}
              <br>({{ authority.tel1_code }}) {{ authority.tel1_number|slice:":3" }} {{ authority.tel1_number|slice:"3:5" }} {{ authority.tel1_number|slice:"5:" }} {% if authority.tel1_internal %}({% trans 'internal' %} {{ authority.tel1_internal }}) {% endif %}
              {% endif %}
              {% if authority.tel2_number %}
              <br>({{ authority.tel2_code }}) {{ authority.tel2_number|slice:":3" }} {{ authority.tel2_number|slice:"3:5" }} {{ authority.tel2_number|slice:"5:" }} {% if authority.tel2_internal %}({% trans 'internal' %} {{ authority.tel2_internal }}) {% endif %}
              {% endif %}
              </small></address>
            </p>
          </div>
          {% if authority.fax_number %}
          <div class="span2">
            <p><strong>{% trans 'Fax' %}:</strong>
              <address><small>({{ authority.fax_code }}) {{ authority.fax_number|slice:":3" }} {{ authority.fax_number|slice:"3:5" }} {{ authority.fax_number|slice:"5:" }}</small></address>
            </p>
          </div>
        {% endif %}
    </div>