{% load i18n %}
    <div id="authority_list" class="content">
      <div class="row">
        &nbsp;
      </div>
      <div class="row">
        <div class="span7">
        <legend>{% include "includes/pagin_header.html" %}</legend>
        </div>
      </div>

      <form method="post" action="/request/multiple/">
      {% csrf_token %}

      {% if user.is_authenticated %}
        {% if user.profile.trusted %}
      <div class="alert alert-info">
        <p><small><strong>{% trans "You can select several Authorities, and then send a request to all of them." %}</small></strong>
          <input class="btn btn-primary btn-large pull-right" type="submit" value="{% trans 'Make requests' %}">
          <br/>{% trans "For each selected authority a separate request will be sent, so that you can trace them separately." %}</p>
      </div>
        {% endif %}
      {% endif %}

      {% if query %}
        {% for obj_result in page.object_list %}
          {% with obj_result.object as result %}
            {% include "includes/authority_list_unit.html" %}
          {% endwith %}
        {% empty %}
        <p>{% trans 'No results found' %}.</p>
        {% endfor %}
      {% else %}
        {% for result in page.object_list %}
          {% with '' as query %}
            {% include "includes/authority_list_unit.html" %}
          {% endwith %}
        {% endfor %}
      {% endif %}
      </form>

    </div>

    {% include "includes/pagin.html" %}

    {% if not query or query = '' %}
    <script src="{{ STATIC_URL }}js/sz.authpagin.js"></script>
    {% endif %}
