      <div class="row row-fluid">
        <h4>Beginning with</h4>
        <p>
          <a href="/instutucje/filter/a">A</a>
          | <a href="/instutucje/filter/b">B</a>
          | <a href="/instutucje/filter/c">C</a>
          | <a href="/instutucje/filter/cd">Ć</a>
          | <a href="/instutucje/filter/d">D</a>
          | <a href="/instutucje/filter/e">E</a>
          | <a href="/instutucje/filter/f">F</a>
          | <a href="/instutucje/filter/g">G</a>
          | <a href="/instutucje/filter/h">H</a>
          | <a href="/instutucje/filter/i">I</a>
          | <a href="/instutucje/filter/j">J</a>
          | <a href="/instutucje/filter/k">K</a>
          | <a href="/instutucje/filter/l">L</a>
          | <a href="/instutucje/filter/m">M</a>
          | <a href="/instutucje/filter/n">N</a>
          | <a href="/instutucje/filter/o">O</a>
          | <a href="/instutucje/filter/p">P</a>
          | <a href="/instutucje/filter/q">Q</a>
          | <a href="/instutucje/filter/r">R</a>
          | <a href="/instutucje/filter/s">S</a>
          | <a href="/instutucje/filter/sd">Ś</a>
          | <a href="/instutucje/filter/t">T</a>
          | <a href="/instutucje/filter/u">U</a>
          | <a href="/instutucje/filter/w">W</a>
          | <a href="/instutucje/filter/x">X</a>
          | <a href="/instutucje/filter/y">Y</a>
          | <a href="/instutucje/filter/z">Z</a>
          | <a href="/instutucje/filter/zd">Ź</a>
          | <a href="/instutucje/filter/zdd">Ż</a>
        </p>
      </div>
