  {% load i18n %}

      <div class="span3">
        <h3>{% trans 'Actions' %}</h3>
        <div class="nav nav-pills nav-stacked">
          <ul class="nav nav-list">
            <li class="nav-header">{% trans 'Anyone' %}</li>
            <li class="active"><a href="/request/{{ thread.0.request.id }}/follow/">Follow this request</a></li>
            <li><a href="/request/{{ thread.0.request.id }}/annotate/#form_annotate">Add an annotation</a></li>
            <li><a href="/request/{{ thread.0.request.id }}/download/">Download a zip file of all correspondence</a></li>
            {% if user.is_authenticated %}
              {% ifequal user thread.0.request.user %}
            <li class="nav-header">{% trans 'Only' %} {{ thread.0.request.user.get_full_name }}</li>
            <li><a href="/request/{{ request_id }}/reply/#form_reply">Write a reply</a></li>
            <li class="dropdown">
                <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                    Update the status of this request
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    {% for status in request_status %}
                    <li><a href="/request/{{ thread.0.request.id }}/status/{{ status.0 }}">{{ status.1 }}</a></li>
                    {% endfor %}
                </ul>
              </li>
              {% endifequal %}
            {% endif %}
          </ul>
        </div>

        <h3>{% trans 'Offensive? Unsuitable?' %}</h3>
        <p>{% trans 'Requests for personal information and vexatious requests are not considered valid for FOI purposes' %} (<a href="/help/about/">{% trans 'read more' %}</a>).</p>
        <p>{% trans 'If you believe this request is not suitable, you can report it for attention by the site administrators.' %}).</p>
        <div class="nav nav-pills nav-stacked">
          <ul class="nav nav-list">
            <li class="active"><a href="/request/{{ thread.0.id }}/report/">Report this request</a></li>
          </ul>
        </div>

        <h3>{% trans 'Similar requests' %}</h3>
        <h4><a href="/request/{{ thread.0.id }}/follow/">Langtree Artisan</a></h4>
        <small>To <a href="http://www.whatdotheyknow.com/body/homes_and_communities_agency">Homes and Communities Agency</a> by <a href="http://www.whatdotheyknow.com/user/richard_killip">Richard Killip</a> 15 March 2012</small>
        <h4><a href="/request/{{ thread.0.id }}/follow/">Odeon cinema building, Bradford</a></h4>
        <small>To <a href="http://www.whatdotheyknow.com/body/homes_and_communities_agency">Yorkshire Forward</a> by <a href="http://www.whatdotheyknow.com/user/richard_killip">Richard Killip</a> 15 March 2012</small>
        <h4><a href="/request/{{ thread.0.id }}/follow/">Odeon cinema building, Bradford</a></h4>
        <small>To <a href="http://www.whatdotheyknow.com/body/homes_and_communities_agency">Correspondence and Advice </a> by <a href="http://www.whatdotheyknow.com/user/richard_killip">Jim Mitcham</a> 16 April 2012</small>
        <h4><a href="/request/{{ thread.0.id }}/follow/">Langtree Artisan</a></h4>
        <small>To <a href="http://www.whatdotheyknow.com/body/homes_and_communities_agency">Homes and Communities Agency</a> by <a href="http://www.whatdotheyknow.com/user/richard_killip">Richard Killip</a> 15 March 2012</small>
        <h4><a href="/request/{{ thread.0.id }}/follow/">Odeon cinema building, Bradford</a></h4>
        <small>To <a href="http://www.whatdotheyknow.com/body/homes_and_communities_agency">Yorkshire Forward</a> by <a href="http://www.whatdotheyknow.com/user/richard_killip">Richard Killip</a> 15 March 2012</small>
        <h4><a href="/request/{{ thread.0.id }}/follow/">Odeon cinema building, Bradford</a></h4>
        <small>To <a href="http://www.whatdotheyknow.com/body/homes_and_communities_agency">Correspondence and Advice </a> by <a href="http://www.whatdotheyknow.com/user/richard_killip">Jim Mitcham</a> 16 April 2012</small>
        <p></p>
        <div class="nav nav-pills nav-stacked">
          <ul class="nav nav-list">            
            <li><a href="/request/{{ thread.0.id }}/similar/">More similar requests</a></li>
          </ul>
        </div>
      </div>
