  {% load i18n %}
  {% load backendtemplates %}

      <!-- <div class="span7"> -->
      
      <!-- </div> -->

      <!-- Thread -->
      <div class="span7">
        <div class="row">
          {% include "includes/user_message.html" %}
        </div>
        {% for msg in thread %}
           <div class="row">
              {% if forloop.first %}
              <div>
                 <h2>{{ msg.request.summary }}</h2>
                   <p class="lead">{% trans 'Request from' %} <a href="/user/{{ msg.request.user.id }}">{{ msg.request.user.get_full_name }}</a> {% trans 'to' %} <a href="/authority/{{ msg.request.authority.slug }}/">{{ msg.request.authority.name }}</a>
                   <br/>{% with msg.request as pia_request %}{% include 'includes/pia_request_status.html' %}{% endwith %}
                   </p>
              </div>
              {% endif %}
          
              <!-- message -->
              <div class="well {% if msg.is_response %} {% else %} {% if forloop.counter0 = 0 %} well-yellow {% else %} well-white {% endif %} {% endif %}">
                  <div class="content"><strong>
                      <p>{% trans 'From' %}: {% if msg.is_response %} {{ msg.request.authority.name }} {% else %} {{ msg.request.user.get_full_name }} {% endif %}
                      </p>
                      <p>{{ msg.created }}</p></strong>
                  </div>
                  {% if msg.attachments.count > 0 %}
                  <div class="content">
                    <hr/>
                    {% for attach in msg.attachments.all %}
                    <a href="{{ MEDIA_URL }}attachments/{{ attach.path }}"><img src="{{ STATIC_URL }}img/filetypes/{{ attach.filetype }}.gif"/> {{ attach.filename }}</a> ({{ attach.filesize|filesizeformat }})<br/>
                    {% endfor %}
                    <hr/>
                  </div>                  
                  {% endif %}
                  <div class="content">
                       {{ msg.body|hide_all_emails|urlize|linebreaks }}
                  </div>
              </div>

              <!-- annotations -->
              {% if msg.annotations.count > 0 %}
                {% for annotation in msg.annotations.all %}
              <div class="well well-white well-small well-dotted span6 pull-right">
                <div class="content">
                  {% if msg.user.userpic != 'default_userpic.gif' %}
                    <div class="span1 pull-right">
                      <img src="{{ MEDIA_URL }}{{ annotation.user.profile.userpic }}" align="right" width="30" border="0" />
                    </div>
                  {% endif %}
                    <small>
                      <p><strong><a href="/user/{{ annotation.user.id }}/">{{ annotation.user.get_full_name }}</a> ({{ annotation.created }})</strong></p>
                      <p>{{ annotation.body|urlize|linebreaks }}</small></p>
                  </div>
              </div>
                {% endfor %}
              {% endif %}

              {% ifnotequal mode 'print' %}
                {% if forloop.last %}
                  {% if not form %}
              <div class="row btn-group pull-right">
                  <a class="btn btn-small" href="/request/{{ msg.request.id }}/annotate/#form_annotate">Add an annotation</a>
                    {% ifequal user msg.request.user %}
                  <a class="btn btn-small" href="/request/{{ request_id }}/reply#form_reply">Write a reply</a>
                  <button class="btn btn-small dropdown-toggle" data-toggle="dropdown">Update status <span class="caret"></span></button>
                  <ul class="dropdown-menu">
                      {% for status in request_status %}
                      <li><a href="/request/{{ msg.request.id }}/status/{{ status.0 }}">{{ status.1 }}</a></li>
                      {% endfor %}
                  </ul>
                    {% endifequal %}
              </div>
                  {% endif%}
                {% endif %}
              {% endifnotequal %}
          </div>
        {% endfor %}
        {% if mode == 'reply' or mode == 'draft' %}
          {% include "includes/pia_thread_reply_form.html" %}
        {% elif mode = 'annotate' %}
          {% include "includes/pia_thread_annotate_form.html" %}
        {% else %}
          <div class="row">&nbsp;</div>
          <div class="row">
            {% include "includes/user_message.html" %}
          </div>
        {% endif %}
      </div>
