  {% load i18n %}

    <!-- Request -->
      <div class="container">
        <form class="form-vertical well span7" 
              name="formRequest" id="request_preview_send" enctype="multipart/form-data"
              action="/request/{% if request_id %}{{ request_id }}/send{% else %}preview{% endif%}/" method="post">
          {% csrf_token %}
          {{ form.authority_name.label }} {% for auth in authority %}<strong><a href="/authority/{{ auth.slug }}">{{ auth.name }}</a></strong> {% if not forloop.last %}&nbsp; {% endif %} {% endfor %}
          {{ form.authority_name }} {{ form.authority_slug }}
          <div class="control-group"><p class="small"></p></div>
          <div class="control-group">
            {{ form.request_subject.label }}
              {% for error in form.request_subject.errors %}<span class="label label-important">{{ error }} </span>{% endfor %}
            {{ form.request_subject }}
          </div>
          <div class="control-group">
            {% for error in form.request_body.errors %}<span class="label label-important">{{ error }} </span>{% endfor %}
            <div class="controls">
              {{ form.request_body }}
              <div class="span3 pull-right">
                <p>{% trans "Write your request in <strong>simple, precise language</strong>." %}</p>
                <p>{% trans "Ask for <strong>specific</strong> documents or information, this site is not suitable for general enquiries."%}</p>
                <p>{% trans "Keep it <strong>focused</strong>, you'll be more likely to get what you want" %} (<a href="/help/requesting#focused">{% trans "why?" %}</a>).</p>
                {% if not request_id %}
                <div class="form-actions">
                  <input class="btn btn-primary" name="preview_request" type="submit" value='{% trans "Preview request" %}' />
                </div>
                {% endif %}
              </div>
            </div>
          </div>

        {% if request_id %}
          <!-- data containers -->
          <input name="authority_slug" type="text" value="{{ form.authority_slug.value }}" style="display: none;"></input>

          <div class="row">
            <div class="span2"><p class="lead"><strong>{% trans 'Preview request' %}:</strong></p></div>
            <div class="span5 pull-right"><p id="request_subject_preview" class="lead">{{ form.request_subject.value }}</p></div>
          </div>
          <div id="request_body_preview" class="well well-yellow">{{ form.request_body.value|urlize|linebreaks }}</div>
          <div class="form-actions">
            <div class="span4 pull-right">
              <p>{% trans "Check you haven't included any personal information." %}</p>
              <p>{% trans "Your name, request and any responses will appear in search engines" %} (<a href="/help/requesting#focused">{% trans "why?" %}</a>).</p>
            </div>
            <input class="btn" name="save_request_draft" type="submit" value='{% trans "Save draft" %}' />
            <input class="btn btn-primary" name="send_request" type="submit" value='{% trans "Send request" %}' />
          </div>
        </form>

        {% else %}
        </form>

        {% endif %}
      </div>
