  {% load i18n %}
<div class="podglad_2"> 

      <div class="span3">
        <h3>{% trans 'Actions' %}</h3>
        <div class="nav nav-pills nav-stacked">
          <ul class="nav nav-list">
            <li class="nav-header">{% trans 'Anyone' %}</li>
            {% if user.is_authenticated %}
              {% if following %}
            <li class="active"><a href="/request/{{ thread.0.request.id }}/unfollow/">{% trans 'Un-follow this request' %}</a></li>
              {% else %}
            <li class="active"><a href="/request/{{ thread.0.request.id }}/follow/">{% trans 'Follow this request' %}</a></li>
              {% endif %}
            {% endif %}
            <li><a href="/request/{{ thread.0.request.id }}/annotate/#form_annotate">{% trans 'Add an annotation '%}</a></li>
            <li><a href="/request/{{ thread.0.request.id }}/?print=true">{% trans 'Print current thread' %}</a></li>
            <li><a href="/request/{{ thread.0.request.id }}/download/">{% trans 'Download a zip file of all correspondence' %}</a></li>
            {% if user.is_authenticated %}
              {% ifequal user thread.0.request.user %}
            <li class="nav-header">{% trans 'Only' %} {{ thread.0.request.user.get_full_name }}</li>
            <li><a href="/request/{{ request_id }}/reply/#form_reply">{% trans 'Write a reply' %}</a></li>
            <li class="dropdown">
                <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                    {% trans 'Update the status of this request' %}
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    {% for status in request_status %}
                    <li><a href="/request/{{ thread.0.request.id }}/status/{{ status.0 }}">{{ status.1 }}</a></li>
                    {% endfor %}
                </ul>
              </li>
              {% endifequal %}
            {% endif %}
          </ul>
        </div>

        <h3>{% trans 'Offensive? Unsuitable?' %}</h3>
        <p>{% trans 'Requests for personal information and vexatious requests are not considered valid for FOI purposes' %} (<a href="/help/#whatis">{% trans 'read more' %}</a>).</p>
        <p>{% trans "If you believe this request is not suitable, you can report it for attention by the site administrators." %}).</p>
        <div class="nav nav-pills nav-stacked">
          <ul class="nav nav-list">
            <li class="active"><a href="/request/{{ thread.0.request.id }}/report/">{% trans 'Report this request' %}</a></li>
          </ul>
        </div>

        <h3>{% trans 'Similar requests' %}</h3>
        <div>
          {% for rq in similar_items %}
            <h4><a href="/request/{{ rq.pk }}/">{{ rq.summary }}</a></h4>
            <small>
              {% trans 'To' %} <a href="/authority/{{ rq.object.authority.slug }}/">{{ rq.object.authority.name }}</a>
              {% trans 'by' %} <a href="/user/rq.object.user.pk">{{ rq.object.user.get_full_name }}</a><br/>
              {{ rq.object.latest_thread_post.created|date:"j E Y" }}
            </small>
            {% if forloop.last %}
        </div>
        <p>&nbsp;</p>
        <div class="nav nav-pills nav-stacked">
          <ul class="nav nav-list">
            <li><a href="/request/{{ thread.0.request.id }}/similar/">{% trans "More similar requests" %}</a></li>
          </ul>
        </div>
            {% endif %}
          {% empty %}
        </div>
          <p>{% trans "We couldn't find any request similar to this one, sorry..." %}</p>
          {% endfor %}
      </div>


</div> <!-- of podglad_2 class -->
