{% extends "base.html" %}

{% block title %}Aktywacja konta{% endblock %}

{% block content %}
  <h1>Aktywacja konta</h1>
  {% load humanize %}
  {% if account %}
    <p>Dziękujemy za założenie konta - możesz się teraz <a href="/accounts/login/">zalogować</a>.</p>
  {% else %}
    <p>Przepraszamy, kod aktywacyjny nie jest prawidłowy. Albo wklejono niepełny adres strony internetowej, albo klucz już wygasł. Konto może być aktywowane tylko przez pewien czas po rejestracji.</p>
  {% endif %}
{% endblock %}
