{% extends "base.html" %}
{% load i18n %}

{% block breadcrumbs %}<div class="breadcrumbs"></div>{% endblock %}

{% block title %}
        <div class="span6">
            <h2>{% trans 'Password reset' %}</h2>
        </div>
{% endblock %}

{% block content %}

{% if validlink %}

    <div class="container">
        <div class="row">
            <div class="span6">
                <h5>{% trans 'Enter new password' %}</h5>
                <p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>
            </div>
            <div class="span8">
                <form class="form-horizontal" name="password_new" enctype="multipart/form-data" action="" method="post">
                    {% csrf_token %}
                    <div class="form">
                        <div class="control-group">
                            <label for="id_new_password1" class="control-label">{{ form.new_password1.label }}</label>
                            <div class="controls">
                                {{ form.new_password1 }}
                                {% if form.new_password1.errors %}
                                <span class="label label-important">{{ form.new_password1.errors|join:"; "|escape }}</span>
                                {% endif %}
                            </div>
                        </div>

                        <div class="control-group">
                            <label for="id_new_password2" class="control-label">{{ form.new_password2.label }}</label>
                            <div class="controls">
                                {{ form.new_password2 }}
                                {% if form.new_password2.errors %}
                                <span class="label label-important">{{ form.new_password2.errors|join:"; "|escape }}</span>
                                {% endif %}
                            </div>
                        </div>

                        <div class="control-group">
                            <div class="controls">
                                <input class="btn btn-primary" type="submit" name="new_password" value="{% trans 'Change my password' %}" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% else %}

    <div class="container">
        <div class="row">
            <div class="span6">
                <h5>{% trans 'Password reset unsuccessful' %}</h5>
                <p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>
            </div>
        </div>
    </div>

{% endif %}

{% endblock %}
