{% extends "base.html" %}
{% load i18n %}

{% block title %}
        <div class="span6">
            <h2>{% trans 'Password change' %}</h2>
        </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="span6">
                <p>{% trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}</p>
            </div>
            <div class="span8">
                <form class="form-horizontal" name="password_change" enctype="multipart/form-data" action="" method="post">
                    {% csrf_token %}
                    <div class="form">
                        <div class="control-group">
                            <label for="id_old_password" class="control-label">{{ form.old_password.label }}</label>
                            <div class="controls">
                                {{ form.old_password }}
                                {% if form.old_password.errors %}
                                <span class="label label-important">{{ form.old_password.errors|join:"; "|escape }}</span>
                                {% endif %}
                            </div>
                        </div>

                        <div class="control-group">
                            <label for="id_new_password1" class="control-label">{{ form.new_password1.label }}</label>
                            <div class="controls">
                                {{ form.new_password1 }}
                                {% if form.new_password1.errors %}
                                <span class="label label-important">{{ form.new_password1.errors|join:"; "|escape }}</span>
                                {% endif %}
                            </div>
                        </div>

                        <div class="control-group">
                            <label for="id_new_password2" class="control-label">{{ form.new_password2.label }}</label>
                            <div class="controls">
                                {{ form.new_password2 }}
                                {% if form.new_password2.errors %}
                                <span class="label label-important">{{ form.new_password2.errors|join:"; "|escape }}</span>
                                {% endif %}
                            </div>
                        </div>
                        
                        <div class="control-group">
                            <div class="controls">
                                <input class="btn btn-primary" type="submit" name="change_password" value="{% trans 'Change my password' %}" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}