{% extends "base.html" %}

{% block title %}
            <div class="span6">
                <h2>Rejestracja zakończona</h2>
            </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="span6">
                <h5>Sprawdź swoją skrzynkę pocztową</h5>
                <p>Na podany adres wysłaliśmy list z odnośnikiem aktywującym konto. Musisz na niego kliknąć, by móc korzystać z pełnej funkcjonalności serwisu.</p>
            </div>
        </div>
    </div>
{% endblock %}
