{% extends "base.html" %}

{% load i18n %}

{% block title %}
        <div class="container">
            <div class="row span8">
                <h2>{% trans 'Register with Sezam' %}</h2>
                <p>{{ form.name }}
            </div>
        </div>
{% endblock %}

{% block content %}
            <div class="container">
                <div class="row span8">
                    <div class="form" >
                        <form class="form-horizontal well well-small" name="account_register" enctype="multipart/form-data" action="/accounts/register/" method="post">
                            {% csrf_token %}

                            <div class="span7">
                                <p>{% trans 'Registering with Sezam is free and open to anyone. With site membership you can create a profile page and send requests to the authorities.' %}</p>
                            </div>

                            <div class="control-group">
                                <label for="id_first_name" class="control-label">{{ form.first_name.label }}</label>
                                <div class="controls">{{ form.first_name }}
                                    {% if form.first_name.errors %}
                                    <span class="label label-important">{{ form.first_name.errors|join:"; "|escape }}</span>
                                    {% endif %}
                                </div>
                            </div>

                            <div class="control-group">
                                <label for="id_last_name" class="control-label">{{ form.last_name.label }}</label>
                                <div class="controls">{{ form.last_name }}
                                    {% if form.last_name.errors %}
                                    <span class="label label-important">{{ form.last_name.errors|join:"; "|escape }}</span>
                                    {% endif %}
                                </div>
                            </div>

                            <div class="control-group">
                                <label for="id_email" class="control-label">{{ form.email.label }}</label>
                                <div class="controls">{{ form.email }}
                                    {% if form.email.errors %}
                                    <span class="label label-important">{{ form.email.errors|join:"; "|escape }}</span>
                                    {% endif %}
                                </div>
                            </div>

                            <div class="control-group">
                                <label for="id_password1" class="control-label">{{ form.password1.label }}</label>
                                <div class="controls">{{ form.password1 }}
                                    {% if form.password1.errors %}
                                    <span class="label label-important">{{ form.password1.errors|join:"; "|escape }}</span>
                                    {% endif %}
                                </div>
                            </div>

                            <div class="control-group">
                                <label for="id_password2" class="control-label">{{ form.password2.label }}</label>
                                <div class="controls">{{ form.password2 }}
                                    {% if form.password2.errors %}
                                    <span class="label label-important">{{ form.password2.errors|join:"; "|escape }}</span>
                                    {% endif %}
                                </div>
                            </div>

                            <div class="control-group">
                                <div class="controls">
                                    {{ form.tos }}
                                    {% if form.tos.errors %}
                                    <span class="label label-important">{{ form.tos.errors|join:"; "|escape }}</span>
                                    {% endif %}
                                  <label for="id_tos" class="control-label">{{ form.tos.label }}</label>
                                </div>
                            </div>

                            <div class="form-actions">
                                <div class="controls">
                                    {% for error in form.non_field_errors %}
                                    <span class="label label-important">{{ error|escape }}</span>
                                    {% endfor %}
                                    <input class="btn btn-primary" type="submit" name="save" value="%{ trans 'Submit' }% »" />
                                </div>
                            </div>

                            <div class="span6">
                                <p>{% trans 'Fill out the form (all fields are required), and your account will be created; you will be sent an email with instructions of how to finish your registration.' %}</p>
                                <p>{% trans 'We will only use your email to send you signup instructions. We hate spam as much as you do.' %}</p>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
{% endblock %}
