{% extends "registration/base_registration.html" %}


{% block title %}Rejestracja zakończona{% endblock %}
{% block body_class %}{{ block.super }} registration_complete{% endblock %}


{% block content_title %}
  <h2>Rejestracja zakończona</h2>
{% endblock %}


{% block content %}
  <h3>Aktywuj konto</h3>
  <p>Na twoje konto wysłaliśmy e-mail z odnośnikiem do systemu aktywującego. Aby dokończyć proces rejestracji i móc korzystać z wszystkich funkcji serwisu, kliknij na odnośnik w liście.
{% endblock %}
